In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Wars

In [2]:
path = "data/"
filename = "wars.csv"
df = pd.read_csv(path + filename)
df.head()

,WarNum,WarName,WarType,ccode,StateName,Side,StartMonth1,StartDay1,StartYear1,EndMonth1,...,EndMonth2,EndDay2,EndYear2,TransFrom,WhereFought,Initiator,Outcome,TransTo,BatDeath,Version
0,1,Franco-Spanish War,1,230,Spain,2,4,7,1823,11,...,-8,-8,-8,503,2,2,2,-8,600,4
1,1,Franco-Spanish War,1,220,France,1,4,7,1823,11,...,-8,-8,-8,503,2,1,1,-8,400,4
2,4,First Russo-Turkish,1,640,Ottoman Empire,2,4,26,1828,9,...,-8,-8,-8,506,11,2,2,-8,80000,4
3,4,First Russo-Turkish,1,365,Russia,1,4,26,1828,9,...,-8,-8,-8,506,11,1,1,-8,50000,4
4,7,Mexican-American,1,70,Mexico,2,4,25,1846,9,...,-8,-8,-8,-8,1,2,2,-8,6000,4

In [3]:
df.columns

Index(['WarNum', 'WarName', 'WarType', 'ccode', 'StateName', 'Side',
       'StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1', 'EndDay1',
       'EndYear1', 'StartMonth2', 'StartDay2', 'StartYear2', 'EndMonth2',
       'EndDay2', 'EndYear2', 'TransFrom', 'WhereFought', 'Initiator',
       'Outcome', 'TransTo', 'BatDeath', 'Version'],
      dtype='object')

In [4]:
df["StartYear"] = df[["StartYear1", "StartYear2"]].max(axis=1)
df["EndYear"] = df[["EndYear1", "EndYear2"]].max(axis=1)
df.columns

Index(['WarNum', 'WarName', 'WarType', 'ccode', 'StateName', 'Side',
       'StartMonth1', 'StartDay1', 'StartYear1', 'EndMonth1', 'EndDay1',
       'EndYear1', 'StartMonth2', 'StartDay2', 'StartYear2', 'EndMonth2',
       'EndDay2', 'EndYear2', 'TransFrom', 'WhereFought', 'Initiator',
       'Outcome', 'TransTo', 'BatDeath', 'Version', 'StartYear', 'EndYear'],
      dtype='object')

In [5]:
df_clean = df[["WarName", "StateName", "Side", "StartYear", "EndYear", "WhereFought", "Outcome", "BatDeath"]]
df_clean.head()

,WarName,StateName,Side,StartYear,EndYear,WhereFought,Outcome,BatDeath
0,Franco-Spanish War,Spain,2,1823,1823,2,2,600
1,Franco-Spanish War,France,1,1823,1823,2,1,400
2,First Russo-Turkish,Ottoman Empire,2,1828,1829,11,2,80000
3,First Russo-Turkish,Russia,1,1828,1829,11,1,50000
4,Mexican-American,Mexico,2,1846,1847,1,2,6000

In [6]:
df_clean = df_clean[df_clean["EndYear"]>1894]
df_clean.head()

,WarName,StateName,Side,StartYear,EndYear,WhereFought,Outcome,BatDeath
76,First Sino-Japanese,China,2,1894,1895,7,2,10000
77,First Sino-Japanese,Japan,1,1894,1895,7,1,5000
78,Greco-Turkish,Greece,2,1897,1897,2,2,600
79,Greco-Turkish,Turkey,1,1897,1897,2,1,1400
80,Spanish-American,Spain,2,1898,1898,13,2,775

In [7]:
df_clean.loc[0,:] = ["Gaza-Israel conflict","Israel", 1, 2006, 2024, 6, 0, 1700]
df_clean.loc[1,:] = ["Gaza-Israel conflict","Palestine", 2, 2006, 2024, 6, 0, 44500]
df_clean.loc[2,:] = ["Russo-Georgian War", "Russia", 1, 2008, 2008, 12, 0, 70]
df_clean.loc[3,:] = ["Russo-Georgian War", "South Ossetia", 1, 2008, 2008, 12, 0, 70]
df_clean.loc[3,:] = ["Russo-Georgian War", "South Ossetia", 1, 2008, 2008, 12, 0, 365]
df_clean.loc[4,:] = ["Russo-Georgian War", "Abkhazia", 1, 2008, 2008, 12, 0, 70]
df_clean.loc[5,:] = ["Russo-Georgian War", "Georgia", 2, 2008, 2008, 12, 0, None]
df_clean.loc[6,:] = ["First Libyan Civil War", 'NATO', 1, 2011, 2011, 4, 0, None]
df_clean.loc[7,:] = ["First Libyan Civil War", 'Qatar', 1, 2011, 2011, 4, 0, None]
df_clean.loc[8,:] = ["First Libyan Civil War", 'Sweden', 1, 2011, 2011, 4, 0, None]
df_clean.loc[9,:] = ["First Libyan Civil War", 'United Arab Emirates', 1, 2011, 2011, 4, 0, None]
df_clean.loc[10,:] = ["First Libyan Civil War", "Libya", 2, 2011, 2011, 4, 0, 3000]
df_clean.loc[11,:] = ["Heglig Crisis", "Sudan", 1, 2012, 2012, 4, 0, 1200]
df_clean.loc[12,:] = ["Heglig Crisis", "South Sudan", 2, 2012, 2012, 4, 0, 280]
df_clean.loc[13, :] = ["Cold War", "United States of America", 1, 1947, 1991, 12, 0, 0]
df_clean.loc[14, :] = ["Cold War", "Soviet Union", 2, 1947, 1991, 12, 0, 0]
df_clean[df_clean["WarName"]=="Gaza-Israel conflict"]

,WarName,StateName,Side,StartYear,EndYear,WhereFought,Outcome,BatDeath
0,Gaza-Israel conflict,Israel,1.0,2006.0,2024.0,6.0,0.0,1700.0
1,Gaza-Israel conflict,Palestine,2.0,2006.0,2024.0,6.0,0.0,44500.0

In [8]:
df_clean.set_index("WarName", inplace=True)

In [9]:
len(set(df_clean.index))

74

In [10]:
df_clean["Side"] = df_clean["Side"].astype(int)
df_clean["StartYear"] = df_clean["StartYear"].astype(int)
df_clean["EndYear"] = df_clean["EndYear"].astype(int)
df_clean["WhereFought"] = df_clean["WhereFought"].astype(int)
df_clean["Outcome"] = df_clean["Outcome"].astype(int)
df_clean["BatDeath"] = df_clean["BatDeath"].astype(float)

In [11]:
df_clean.head()

,StateName,Side,StartYear,EndYear,WhereFought,Outcome,BatDeath
WarName,,,,,,,
First Sino-Japanese,China,2,1894,1895,7,2,10000.0
First Sino-Japanese,Japan,1,1894,1895,7,1,5000.0
Greco-Turkish,Greece,2,1897,1897,2,2,600.0
Greco-Turkish,Turkey,1,1897,1897,2,1,1400.0
Spanish-American,Spain,2,1898,1898,13,2,775.0

## Movies

In [12]:
data = pd.read_table("data/movies_with_summaries.csv", sep=",")
data.head()

,Movie_ID,IMDb_Index,Title,Original_Title,Release_Date,Year,Genres,Genres_IMDb,Rating,Votes,Revenue,Length,Languages,Countries,summary
0,975900,tt0228333,Ghosts of Mars,Ghosts of Mars,2001-08-24,2001,"['Thriller', 'Science Fiction', 'Horror', 'Adv...","['Action,Horror,Sci-Fi']",4.9,58872,14010832.0,98.0,['English Language'],['United States of America'],"Set in the second half of the 22nd century, th..."
1,261236,tt0083949,A Woman in Flames,Die flambierte Frau,1983,1983,['Drama'],['Drama'],5.9,648,NaN,106.0,['German Language'],['Germany'],"Eva, an upper class housewife, becomes frustra..."
2,171005,tt0097499,Henry V,Henry V,1989-11-08,1989,"['Costume drama', 'War film', 'Epic', 'Period ...","['Biography,Drama,History']",7.5,32088,10161099.0,137.0,['English Language'],['United Kingdom'],{{Plot|dateAct 1Act 2Act 3Act 4Act 5 Finally n...
3,77856,tt0058331,Mary Poppins,Mary Poppins,1964-08-27,1964,"['ChildrensFamily', 'Musical', 'Fantasy', 'Com...","['Comedy,Family,Fantasy']",7.8,189202,102272727.0,139.0,['English Language'],['United States of America'],The film opens with Mary Poppins perched in a...
4,32456683,tt0061637,Die Fahne von Kriwoj Rog,Die Fahne von Kriwoj Rog,1967,1967,[],['Drama'],7.7,24,NaN,108.0,['German Language'],['German Democratic Republic'],"Otto Brosowski, a communist miner, writes to t..."

In [14]:
counts = []
for war in df_clean.index:
    start_year = df_clean.loc[war, "StartYear"].min()
    end_year = df_clean.loc[war, "EndYear"].max()
    print(start_year, end_year)
    movies_war = data[data['Year'].between(start_year-2, end_year+2)]
    print(f"Movies about {war}: {len(movies_war)}")
    counts.append(len(movies_war))
df_clean["Movies"] = counts

1894 1895
Movies about First Sino-Japanese: 2
1894 1895
Movies about First Sino-Japanese: 2
1897 1897
Movies about Greco-Turkish: 1
1897 1897
Movies about Greco-Turkish: 1
1898 1898
Movies about Spanish-American: 1
1898 1898
Movies about Spanish-American: 1
1900 1900
Movies about Boxer Rebellion: 1
1900 1900
Movies about Boxer Rebellion: 1
1900 1900
Movies about Boxer Rebellion: 1
1900 1900
Movies about Boxer Rebellion: 1
1900 1900
Movies about Boxer Rebellion: 1
1900 1900
Movies about Boxer Rebellion: 1
1900 1900
Movies about Sino-Russian: 1
1900 1900
Movies about Sino-Russian: 1
1904 1905
Movies about Russo-Japanese: 5
1904 1905
Movies about Russo-Japanese: 5
1906 1906
Movies about Third Central American: 3
1906 1906
Movies about Third Central American: 3
1906 1906
Movies about Third Central American: 3
1907 1907
Movies about Fourth Central American: 3
1907 1907
Movies about Fourth Central American: 3
1907 1907
Movies about Fourth Central American: 3
1909 1910
Movies about Second Spanish-Moroccan: 11
1909 1910
Movies about Second Spanish-Moroccan: 11
1911 1912
Movies about Italian-Turkish: 31
1911 1912
Movies about Italian-Turkish: 31
1912 1913
Movies about First Balkan: 54
1912 1913
Movies about First Balkan: 54
1912 1913
Movies about First Balkan: 54
1912 1913
Movies about First Balkan: 54
1913 1913
Movies about Second Balkan: 52
1913 1913
Movies about Second Balkan: 52
1913 1913
Movies about Second Balkan: 52
1913 1913
Movies about Second Balkan: 52
1913 1913
Movies about Second Balkan: 52
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1914 1918
Movies about World War I: 155
1918 1920
Movies about Estonian Liberation: 156
1918 1920
Movies about Estonian Liberation: 156
1918 1920
Movies about Estonian Liberation: 156
1918 1920
Movies about Latvian Liberation: 156
1918 1920
Movies about Latvian Liberation: 156
1918 1920
Movies about Latvian Liberation: 156
1918 1920
Movies about Latvian Liberation: 156
1918 1920
Movies about Latvian Liberation: 156
1919 1920
Movies about Russo-Polish: 137
1919 1920
Movies about Russo-Polish: 137
1919 1919
Movies about Hungarian Adversaries: 110
1919 1919
Movies about Hungarian Adversaries: 110
1919 1919
Movies about Hungarian Adversaries: 110
1919 1922
Movies about Second Greco-Turkish: 206
1919 1922
Movies about Second Greco-Turkish: 206
1919 1921
Movies about Franco-Turkish: 164
1919 1921
Movies about Franco-Turkish: 164
1920 1920
Movies about Lithuanian-Polish: 125
1920 1920
Movies about Lithuanian-Polish: 125
1929 1929
Movies about Manchurian: 407
1929 1929
Movies about Manchurian: 407
1931 1933
Movies about Second Sino-Japanese: 931
1931 1933
Movies about Second Sino-Japanese: 931
1932 1935
Movies about Chaco: 1198
1932 1935
Movies about Chaco: 1198
1934 1934
Movies about Saudi-Yemeni: 806
1934 1934
Movies about Saudi-Yemeni: 806
1935 1936
Movies about Conquest of Ethiopia: 987
1935 1936
Movies about Conquest of Ethiopia: 987
1937 1941
Movies about Third Sino-Japanese: 1483
1937 1941
Movies about Third Sino-Japanese: 1483
1938 1938
Movies about Changkufeng: 809
1938 1938
Movies about Changkufeng: 809
1939 1939
Movies about Nomonhan: 810
1939 1939
Movies about Nomonhan: 810
1939 1939
Movies about Nomonhan: 810
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1945
Movies about World War II: 1758
1939 1940
Movies about Russo-Finnish: 979
1939 1940
Movies about Russo-Finnish: 979
1940 1941
Movies about Franco-Thai: 961
1940 1941
Movies about Franco-Thai: 961
1947 1949
Movies about First Kashmir: 1207
1947 1949
Movies about First Kashmir: 1207
1948 1949
Movies about Arab-Israeli: 1066
1948 1949
Movies about Arab-Israeli: 1066
1948 1949
Movies about Arab-Israeli: 1066
1948 1949
Movies about Arab-Israeli: 1066
1948 1949
Movies about Arab-Israeli: 1066
1948 1949
Movies about Arab-Israeli: 1066
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1950 1953
Movies about Korean: 1540
1954 1955
Movies about Off-shore Islands: 1217
1954 1955
Movies about Off-shore Islands: 1217
1956 1956
Movies about Sinai War: 1011
1956 1956
Movies about Sinai War: 1011
1956 1956
Movies about Sinai War: 1011
1956 1956
Movies about Sinai War: 1011
1956 1956
Movies about Soviet Invasion of Hungary: 1011
1956 1956
Movies about Soviet Invasion of Hungary: 1011
1957 1958
Movies about IfniWar: 1194
1957 1958
Movies about IfniWar: 1194
1957 1958
Movies about IfniWar: 1194
1958 1958
Movies about Taiwan Straits: 995
1958 1958
Movies about Taiwan Straits: 995
1962 1962
Movies about Assam: 867
1962 1962
Movies about Assam: 867
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1975
Movies about Vietnam War, Phase 2: 3101
1965 1965
Movies about Second Kashmir: 953
1965 1965
Movies about Second Kashmir: 953
1967 1967
Movies about Six Day War: 1025
1967 1967
Movies about Six Day War: 1025
1967 1967
Movies about Six Day War: 1025
1967 1967
Movies about Six Day War: 1025
1968 1973
Movies about Second Laotian, Phase 2: 2136
1968 1973
Movies about Second Laotian, Phase 2: 2136
1968 1973
Movies about Second Laotian, Phase 2: 2136
1968 1973
Movies about Second Laotian, Phase 2: 2136
1969 1970
Movies about War of Attrition: 1311
1969 1970
Movies about War of Attrition: 1311
1969 1969
Movies about Football War: 1075
1969 1969
Movies about Football War: 1075
1970 1971
Movies about Communist Coalition: 1313
1970 1971
Movies about Communist Coalition: 1313
1970 1971
Movies about Communist Coalition: 1313
1970 1971
Movies about Communist Coalition: 1313
1971 1971
Movies about Bangladesh: 1116
1971 1971
Movies about Bangladesh: 1116
1973 1973
Movies about Yom Kippur War: 1095
1973 1973
Movies about Yom Kippur War: 1095
1973 1973
Movies about Yom Kippur War: 1095
1973 1973
Movies about Yom Kippur War: 1095
1973 1973
Movies about Yom Kippur War: 1095
1973 1973
Movies about Yom Kippur War: 1095
1974 1974
Movies about Turco-Cypriot: 1074
1974 1974
Movies about Turco-Cypriot: 1074
1975 1976
Movies about War over Angola: 1286
1975 1976
Movies about War over Angola: 1286
1975 1976
Movies about War over Angola: 1286
1975 1976
Movies about War over Angola: 1286
1977 1978
Movies about Second Ogaden War, Phase 2: 1340
1977 1978
Movies about Second Ogaden War, Phase 2: 1340
1977 1978
Movies about Second Ogaden War, Phase 2: 1340
1977 1979
Movies about Vietnamese-Cambodian: 1577
1977 1979
Movies about Vietnamese-Cambodian: 1577
1978 1979
Movies about Ugandian-Tanzanian: 1386
1978 1979
Movies about Ugandian-Tanzanian: 1386
1978 1979
Movies about Ugandian-Tanzanian: 1386
1979 1979
Movies about Sino-Vietnamese Punitive: 1178
1979 1979
Movies about Sino-Vietnamese Punitive: 1178
1980 1988
Movies about Iran-Iraq: 3977
1980 1988
Movies about Iran-Iraq: 3977
1982 1982
Movies about Falkland Islands: 1300
1982 1982
Movies about Falkland Islands: 1300
1982 1982
Movies about War over Lebanon: 1300
1982 1982
Movies about War over Lebanon: 1300
1986 1987
Movies about War over the Aouzou Strip: 2114
1986 1987
Movies about War over the Aouzou Strip: 2114
1987 1987
Movies about Sino-Vietnamese Border War: 1828
1987 1987
Movies about Sino-Vietnamese Border War: 1828
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1990 1991
Movies about Gulf War: 2347
1992 1992
Movies about Bosnian Independence: 2034
1992 1992
Movies about Bosnian Independence: 2034
1992 1992
Movies about Bosnian Independence: 2034
1993 1994
Movies about Azeri-Armenian: 2608
1993 1994
Movies about Azeri-Armenian: 2608
1995 1995
Movies about Cenepa Valley: 2410
1995 1995
Movies about Cenepa Valley: 2410
1998 2000
Movies about Badme Border: 4220
1998 2000
Movies about Badme Border: 4220
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about War for Kosovo: 2942
1999 1999
Movies about Kargil War: 2942
1999 1999
Movies about Kargil War: 2942
2001 2001
Movies about Invasion of Afghanistan: 3426
2001 2001
Movies about Invasion of Afghanistan: 3426
2001 2001
Movies about Invasion of Afghanistan: 3426
2001 2001
Movies about Invasion of Afghanistan: 3426
2001 2001
Movies about Invasion of Afghanistan: 3426
2001 2001
Movies about Invasion of Afghanistan: 3426
2003 2003
Movies about Invasion of Iraq: 3988
2003 2003
Movies about Invasion of Iraq: 3988
2003 2003
Movies about Invasion of Iraq: 3988
2003 2003
Movies about Invasion of Iraq: 3988
2006 2024
Movies about Gaza-Israel conflict: 8726
2006 2024
Movies about Gaza-Israel conflict: 8726
2008 2008
Movies about Russo-Georgian War: 5502
2008 2008
Movies about Russo-Georgian War: 5502
2008 2008
Movies about Russo-Georgian War: 5502
2008 2008
Movies about Russo-Georgian War: 5502
2011 2011
Movies about First Libyan Civil War: 3628
2011 2011
Movies about First Libyan Civil War: 3628
2011 2011
Movies about First Libyan Civil War: 3628
2011 2011
Movies about First Libyan Civil War: 3628
2011 2011
Movies about First Libyan Civil War: 3628
2012 2012
Movies about Heglig Crisis: 2483
2012 2012
Movies about Heglig Crisis: 2483
1947 1991
Movies about Cold War: 11620
1947 1991
Movies about Cold War: 11620

In [15]:
df_clean=df_clean[df_clean["Movies"]>500]
df_clean.head()

,StateName,Side,StartYear,EndYear,WhereFought,Outcome,BatDeath,Movies
WarName,,,,,,,,
Second Sino-Japanese,Japan,1,1931,1933,7,1,10000.0,931
Second Sino-Japanese,China,2,1931,1933,7,2,50000.0,931
Chaco,Bolivia,2,1932,1935,1,2,56661.0,1198
Chaco,Paraguay,1,1932,1935,1,1,36000.0,1198
Saudi-Yemeni,Saudi Arabia,1,1934,1934,6,1,100.0,806

In [16]:
df_clean.to_csv("data/wars_filtered_clean.csv")

---
## Analysis

In [17]:
wars = df_clean.drop(columns=["BatDeath", "Outcome"])
movies = data
wars.head()

,StateName,Side,StartYear,EndYear,WhereFought,Movies
WarName,,,,,,
Second Sino-Japanese,Japan,1,1931,1933,7,931
Second Sino-Japanese,China,2,1931,1933,7,931
Chaco,Bolivia,2,1932,1935,1,1198
Chaco,Paraguay,1,1932,1935,1,1198
Saudi-Yemeni,Saudi Arabia,1,1934,1934,6,806

In [18]:
war_names = sorted(list(set(wars.index)))
war_names

['Arab-Israeli',
 'Assam',
 'Azeri-Armenian',
 'Badme Border',
 'Bangladesh',
 'Bosnian Independence',
 'Cenepa Valley',
 'Chaco',
 'Changkufeng',
 'Cold War',
 'Communist Coalition',
 'Conquest of Ethiopia',
 'Falkland Islands',
 'First Kashmir',
 'First Libyan Civil War',
 'Football War',
 'Franco-Thai',
 'Gaza-Israel conflict',
 'Gulf War',
 'Heglig Crisis',
 'IfniWar',
 'Invasion of Afghanistan',
 'Invasion of Iraq',
 'Iran-Iraq',
 'Kargil War',
 'Korean',
 'Nomonhan',
 'Off-shore Islands',
 'Russo-Finnish',
 'Russo-Georgian War',
 'Saudi-Yemeni',
 'Second Kashmir',
 'Second Laotian, Phase 2',
 'Second Ogaden War, Phase 2',
 'Second Sino-Japanese',
 'Sinai War',
 'Sino-Vietnamese Border War',
 'Sino-Vietnamese Punitive',
 'Six Day War',
 'Soviet Invasion of Hungary',
 'Taiwan Straits',
 'Third Sino-Japanese',
 'Turco-Cypriot',
 'Ugandian-Tanzanian',
 'Vietnam War, Phase 2',
 'Vietnamese-Cambodian',
 'War for Kosovo',
 'War of Attrition',
 'War over Angola',
 'War over Lebanon',
 'War over the Aouzou Strip',
 'World War II',
 'Yom Kippur War']

### Single War Analysis

In [77]:
war = war_names[2]
print(war)
war_data = wars[wars.index==war]
war_data

Azeri-Armenian

                 StateName  Side  StartYear  EndYear  WhereFought  Movies
WarName
Azeri-Armenian  Azerbaijan     2       1993     1994            2    2608
Azeri-Armenian     Armenia     1       1993     1994            2    2608

In [106]:
def find_sides (war_data):
    side_1 = [side for side in war_data[war_data["Side"]==1]["StateName"]]
    side_2 = [side for side in war_data[war_data["Side"]==2]["StateName"]]
    return side_1, side_2

def find_years(war_data):
    start_year = war_data["StartYear"].min()
    end_year = war_data["EndYear"].max()
    return start_year, end_year

def process_side (side):
    if "United States of America" in side:
        side.append("USA")
    if "United Kingdom" in side:
        side.append("UK")
    if "Russia" in side:
        side.append("Soviet Union")
    if "Soviet Union" in side:
        side.append("Russia")
    return side

def find_movies(movies, start_year, end_year, side_1, side_2):
    side_1 = process_side(side_1)
    side_2 = process_side(side_2)

    movies_war = movies[movies['Year'].between(start_year-2, end_year+2)]

    movies_war_1 = pd.DataFrame()
    for c in side_1:
        m = movies_war[movies_war['Countries'].apply(lambda x: c in x)]
        movies_war_1 = pd.concat([movies_war_1, m])
    movies_war_1 = movies_war_1.drop_duplicates()

    movies_war_2 = pd.DataFrame()
    for c in side_2:
        m = movies_war[movies_war['Countries'].apply(lambda x: c in x)]
        movies_war_2 = pd.concat([movies_war_2, m])
    movies_war_2 = movies_war_2.drop_duplicates()

    print(movies_war_1.shape, movies_war_2.shape)
    
    if len(movies_war_1)<10 or len(movies_war_2)<10:
        print("Not enough movies")
        return None, None
    
    return movies_war_1, movies_war_2

def find_movies_summary(movies, start_year, end_year, side_1, side_2):
    side_1 = process_side(side_1)
    side_2 = process_side(side_2)

    movies_war = movies[movies['Year'].between(start_year-2, end_year+2)]

    movies_war_1 = pd.DataFrame()
    for c in side_1:
        m = movies_war[movies_war['summary'].apply(lambda x: c.lower() in x.lower())]
        movies_war_1 = pd.concat([movies_war_1, m])
    movies_war_1 = movies_war_1.drop_duplicates()

    movies_war_2 = pd.DataFrame()
    for c in side_2:
        m = movies_war[movies_war['summary'].apply(lambda x: c.lower() in x.lower())]
        movies_war_2 = pd.concat([movies_war_2, m])
    movies_war_2 = movies_war_2.drop_duplicates()

    print(movies_war_1.shape, movies_war_2.shape)
    
    if len(movies_war_1)<10 or len(movies_war_2)<10:
        print("Not enough movies")
        return None, None
    
    return movies_war_1, movies_war_2

In [107]:
conflicts_to_check = []
for war in war_names:
    print(war)
    war_data = wars[wars.index==war]
    side_1, side_2 = find_sides(war_data)
    start_year, end_year = find_years(war_data)
    movies_war_1, movies_war_2 = find_movies(movies, start_year, end_year, side_1, side_2)
    if movies_war_1 is not None:
        conflicts_to_check.append(war)
print(f"The conflicts to check are {conflicts_to_check}")

Arab-Israeli
(0, 15) (0, 15)
Not enough movies
Assam
(0, 15) (71, 15)
Not enough movies
Azeri-Armenian
(2, 15) (0, 15)
Not enough movies
Badme Border
(0, 15) (1, 15)
Not enough movies
Bangladesh
(117, 15) (2, 15)
Not enough movies
Bosnian Independence
(0, 15) (4, 15)
Not enough movies
Cenepa Valley
(2, 15) (0, 15)
Not enough movies
Chaco
(0, 15) (0, 15)
Not enough movies
Changkufeng
(2, 15) (0, 15)
Not enough movies
Cold War
(7184, 15) (58, 15)
Communist Coalition
(0, 15) (680, 15)
Not enough movies
Conquest of Ethiopia
(2, 15) (0, 15)
Not enough movies
Falkland Islands
(113, 15) (5, 15)
Not enough movies
First Kashmir
(20, 15) (0, 15)
Not enough movies
First Libyan Civil War
(46, 15) (0, 15)
Not enough movies
Football War
(0, 15) (0, 15)
Not enough movies
Franco-Thai
(0, 15) (7, 15)
Not enough movies
Gaza-Israel conflict
(30, 15) (2, 15)
Not enough movies
Gulf War
(1706, 15) (0, 15)
Not enough movies
Heglig Crisis
(0, 15) (0, 15)
Not enough movies
IfniWar
(37, 15) (0, 15)
Not enough movies
Invasion of Afghanistan
(2311, 15) (1, 15)
Not enough movies
Invasion of Iraq
(2346, 15) (3, 15)
Not enough movies
Iran-Iraq
(5, 15) (0, 15)
Not enough movies
Kargil War
(346, 15) (7, 15)
Not enough movies
Korean
(1356, 15) (2, 15)
Not enough movies
Nomonhan
(0, 15) (0, 15)
Not enough movies
Off-shore Islands
(1, 15) (0, 15)
Not enough movies
Russo-Finnish
(0, 15) (0, 15)
Not enough movies
Russo-Georgian War
(44, 15) (0, 15)
Not enough movies
Saudi-Yemeni
(0, 15) (0, 15)
Not enough movies
Second Kashmir
(2, 15) (86, 15)
Not enough movies
Second Laotian, Phase 2
(0, 15) (1128, 15)
Not enough movies
Second Ogaden War, Phase 2
(2, 15) (0, 15)
Not enough movies
Second Sino-Japanese
(4, 15) (5, 15)
Not enough movies
Sinai War
(138, 15) (0, 15)
Not enough movies
Sino-Vietnamese Border War
(12, 15) (0, 15)
Not enough movies
Sino-Vietnamese Punitive
(6, 15) (0, 15)
Not enough movies
Six Day War
(4, 15) (1, 15)
Not enough movies
Soviet Invasion of Hungary
(0, 15) (0, 15)
Not enough movies
Taiwan Straits
(0, 15) (0, 15)
Not enough movies
Third Sino-Japanese
(3, 15) (4, 15)
Not enough movies
Turco-Cypriot
(2, 15) (0, 15)
Not enough movies
Ugandian-Tanzanian
(0, 15) (0, 15)
Not enough movies
Vietnam War, Phase 2
(0, 15) (1709, 15)
Not enough movies
Vietnamese-Cambodian
(0, 15) (0, 15)
Not enough movies
War for Kosovo
(2081, 15) (2, 15)
Not enough movies
War of Attrition
(3, 15) (0, 15)
Not enough movies
War over Angola
(2, 15) (0, 15)
Not enough movies
War over Lebanon
(3, 15) (0, 15)
Not enough movies
War over the Aouzou Strip
(0, 15) (0, 15)
Not enough movies
World War II
(1642, 15) (38, 15)
Yom Kippur War
(3, 15) (0, 15)
Not enough movies
The conflicts to check are ['Cold War', 'World War II']

In [108]:
conflicts_to_check = []
for war in war_names:
    print(war)
    war_data = wars[wars.index==war]
    side_1, side_2 = find_sides(war_data)
    start_year, end_year = find_years(war_data)
    movies_war_1, movies_war_2 = find_movies_summary(movies, start_year, end_year, side_1, side_2)
    if movies_war_1 is not None:
        conflicts_to_check.append(war)
print(f"The conflicts to check are {conflicts_to_check}")

Arab-Israeli
(2, 15) (9, 15)
Not enough movies
Assam
(0, 15) (39, 15)
Not enough movies
Azeri-Armenian
(1, 15) (0, 15)
Not enough movies
Badme Border
(0, 15) (1, 15)
Not enough movies
Bangladesh
(54, 15) (2, 15)
Not enough movies
Bosnian Independence
(1, 15) (1, 15)
Not enough movies
Cenepa Valley
(3, 15) (0, 15)
Not enough movies
Chaco
(0, 15) (0, 15)
Not enough movies
Changkufeng
(7, 15) (0, 15)
Not enough movies
Cold War
(575, 15) (250, 15)
Communist Coalition
(34, 15) (58, 15)
Conquest of Ethiopia
(4, 15) (0, 15)
Not enough movies
Falkland Islands
(60, 15) (2, 15)
Not enough movies
First Kashmir
(55, 15) (0, 15)
Not enough movies
First Libyan Civil War
(80, 15) (0, 15)
Not enough movies
Football War
(0, 15) (0, 15)
Not enough movies
Franco-Thai
(0, 15) (29, 15)
Not enough movies
Gaza-Israel conflict
(51, 15) (7, 15)
Not enough movies
Gulf War
(796, 15) (5, 15)
Not enough movies
Heglig Crisis
(2, 15) (1, 15)
Not enough movies
IfniWar
(41, 15) (3, 15)
Not enough movies
Invasion of Afghanistan
(515, 15) (4, 15)
Not enough movies
Invasion of Iraq
(526, 15) (24, 15)
Iran-Iraq
(43, 15) (3, 15)
Not enough movies
Kargil War
(122, 15) (17, 15)
Korean
(223, 15) (20, 15)
Nomonhan
(1, 15) (7, 15)
Not enough movies
Off-shore Islands
(17, 15) (0, 15)
Not enough movies
Russo-Finnish
(0, 15) (0, 15)
Not enough movies
Russo-Georgian War
(145, 15) (28, 15)
Saudi-Yemeni
(0, 15) (0, 15)
Not enough movies
Second Kashmir
(2, 15) (47, 15)
Not enough movies
Second Laotian, Phase 2
(44, 15) (111, 15)
Second Ogaden War, Phase 2
(11, 15) (0, 15)
Not enough movies
Second Sino-Japanese
(3, 15) (12, 15)
Not enough movies
Sinai War
(77, 15) (10, 15)
Sino-Vietnamese Border War
(24, 15) (53, 15)
Sino-Vietnamese Punitive
(15, 15) (22, 15)
Six Day War
(3, 15) (15, 15)
Not enough movies
Soviet Invasion of Hungary
(1, 15) (0, 15)
Not enough movies
Taiwan Straits
(0, 15) (0, 15)
Not enough movies
Third Sino-Japanese
(45, 15) (21, 15)
Turco-Cypriot
(8, 15) (0, 15)
Not enough movies
Ugandian-Tanzanian
(0, 15) (1, 15)
Not enough movies
Vietnam War, Phase 2
(56, 15) (198, 15)
Vietnamese-Cambodian
(28, 15) (1, 15)
Not enough movies
War for Kosovo
(426, 15) (2, 15)
Not enough movies
War of Attrition
(4, 15) (10, 15)
Not enough movies
War over Angola
(11, 15) (4, 15)
Not enough movies
War over Lebanon
(9, 15) (0, 15)
Not enough movies
War over the Aouzou Strip
(7, 15) (6, 15)
Not enough movies
World War II
(273, 15) (171, 15)
Yom Kippur War
(9, 15) (6, 15)
Not enough movies
The conflicts to check are ['Cold War', 'Communist Coalition', 'Invasion of Iraq', 'Kargil War', 'Korean', 'Russo-Georgian War', 'Second Laotian, Phase 2', 'Sinai War', 'Sino-Vietnamese Border War', 'Sino-Vietnamese Punitive', 'Third Sino-Japanese', 'Vietnam War, Phase 2', 'World War II']

In [109]:
len(conflicts_to_check)

13

In [110]:
for war in conflicts_to_check:
    war_data = wars[wars.index==war]
    side_1, side_2 = find_sides(war_data)
    start_year, end_year = find_years(war_data)
    movies_war_1, movies_war_2 = find_movies_summary(movies, start_year, end_year, side_1, side_2)
    print(f"For conflict {war}, side 1 has {len(movies_war_1)} movies and side 2 has {len(movies_war_2)} movies")
print(f"The conflicts to check are {conflicts_to_check}")

(575, 15) (250, 15)
For conflict Cold War, side 1 has 575 movies and side 2 has 250 movies
(34, 15) (58, 15)
For conflict Communist Coalition, side 1 has 34 movies and side 2 has 58 movies
(526, 15) (24, 15)
For conflict Invasion of Iraq, side 1 has 526 movies and side 2 has 24 movies
(122, 15) (17, 15)
For conflict Kargil War, side 1 has 122 movies and side 2 has 17 movies
(223, 15) (20, 15)
For conflict Korean, side 1 has 223 movies and side 2 has 20 movies
(145, 15) (28, 15)
For conflict Russo-Georgian War, side 1 has 145 movies and side 2 has 28 movies
(44, 15) (111, 15)
For conflict Second Laotian, Phase 2, side 1 has 44 movies and side 2 has 111 movies
(77, 15) (10, 15)
For conflict Sinai War, side 1 has 77 movies and side 2 has 10 movies
(24, 15) (53, 15)
For conflict Sino-Vietnamese Border War, side 1 has 24 movies and side 2 has 53 movies
(15, 15) (22, 15)
For conflict Sino-Vietnamese Punitive, side 1 has 15 movies and side 2 has 22 movies
(45, 15) (21, 15)
For conflict Third Sino-Japanese, side 1 has 45 movies and side 2 has 21 movies
(56, 15) (198, 15)
For conflict Vietnam War, Phase 2, side 1 has 56 movies and side 2 has 198 movies
(273, 15) (171, 15)
For conflict World War II, side 1 has 273 movies and side 2 has 171 movies
The conflicts to check are ['Cold War', 'Communist Coalition', 'Invasion of Iraq', 'Kargil War', 'Korean', 'Russo-Georgian War', 'Second Laotian, Phase 2', 'Sinai War', 'Sino-Vietnamese Border War', 'Sino-Vietnamese Punitive', 'Third Sino-Japanese', 'Vietnam War, Phase 2', 'World War II']